/*CSS genéricos*********************************/
* {
    box-sizing: border-box;
}

.display-none {
    display: none;
}

.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
}

/*CSS tela 1*********************************/

body {
    background-color: #fafafa;
    width: 100%;
}

.conteudo-pagina {
    width: 1065px;
    flex-direction: column;
    position: relative;
}

.cabecalho-tela1 {
    background-color: #EC362D;
    height: 69px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}



.seus-quizzes-vazio {
    height: 181px;
    width: 100%;
    border-radius: 5px;
    border: 1px dashed #D5D5D5;
    margin-top: 87px;
    flex-direction: column;
    margin-bottom: 77px;
}

h1 {
    height: 55px;
    width: 250px;

    border-radius: nullpx;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #B9B9B9;
}

.botao {
    height: 40px;
    width: 151px;
    border-radius: 50px;
    border: 1px dashed #EC362D;

    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #EC362D;

}

.subtitulo {
    width: 170px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    z-index: 3;
}
.seus-quizzes-conteudo {
    padding-top: 39px;
    height: 100%;
    width: 100%;
    margin-top: 87px;
    margin-bottom: 112px;

    position: relative;
    /* overflow-x: scroll;
    overflow-x:hidden; */
}

.quizz {
    position: relative;
    padding-right: 15px;
    margin-bottom: 12px;
}


.titulo-quizz {
    position: absolute;
    width: 301px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    left: 18px;
    bottom: 15px;
}

.todos-os-quizes {
    padding-top: 35px;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: left;
    
    position: relative;
}
/*CSS tela 1*********************************/

/*CSS tela 2*********************************/



/*responsividade*/
@media (max-width: 1100px){
    .conteudo-pagina{
        width: 375px;
    }

}